/* manage spacing */
main
{
    margin: 30px 0 90px 0;
}

a:hover
{
    cursor: pointer;
}

/* fixed bottom footer */
#sticky-footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: #2daf28 solid 10px;
}

/* bootstrap override */
.active, .btn
{
    background-color: #2daf28 !important;
}

[class*="col-"]
{
    margin-bottom: 30px;
}

.body_wrapper
{
    position:relative;
    top:0;
    left:0;
    width:100vw;
    height:auto;
    min-height:100vh;
    background-color:silver;
    background:-webkit-linear-gradient(silver, transparent, silver),
        -webkit-repeating-linear-gradient(-45deg, silver, gray 30%, silver 40%, #dddddd 50%, gray 55%, silver 100%);

}

