/* manage spacing */
main
{
    margin: 30px 0 110px 0;
}

/* fixed bottom footer */
#sticky-footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: #2872af solid 10px;
}

/* bootstrap override */
.active, .btn
{
    background-color: #2872af !important;
}

[class*="col-"]
{
    margin-bottom: 30px;
}
